body {
    max-width: 800px;
    margin: auto;
}

#name {
    width:200px;
    color: green;
}

#email {
    width: 200px;
}

#comment {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

